/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hsc:before {
    content: "Higher Secondary Certificate +";
  }

  .ssc:before {
    content: "Secondary School Certificate +";
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hsc:before {
    content: "Higher Secondary Certificate +";
  }

  .ssc:before {
    content: "Secondary School Certificate +";
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1, h3 {
    color: red;
    font-size: 40px;
  }

  .nav-item {
    background-color: #02A23A;
  }

  .contact .container {
    margin-top: 13%;
  }

  .hsc:before {
    content: "H.S.C +";
  }

  .ssc:before {
    content: "S.S.C +";
  }

  .portfolio-bg {
    height: 200px;
  }

  .col-md-3, .col-lg-3,
  .col-lg-6, .work-portfolio li {
    width: 50%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #section1 {
    padding-top: 25%;
  }

  #intro {
    width: 55vh;
  }

  .nav-item {
    background-color: #02A23A;
  }

  .col-md-3, .col-lg-3,
  .work-portfolio li {
    width: 50%;
  }

  .hsc:before {
    content: "Higher Secondary Certificate +";
  }

  .ssc:before {
    content: "Secondary School Certificate +";
  }

  .portfolio-bg {
    height: 200px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .nav-item {
    background-color: #02A23A;
  }

  #section1 {
    padding-top: 25%;
  }

  #section1 h1 {
    font-size: 170%;
  }

  .sec1img h4 {
    font-size: 100%;
  }

  .section-heading {
    font-size: 180%;
  }

  #intro {
    width: 55vh;
  }

  .hsc:before {
    content: "H.S.C +";
  }

  .ssc:before {
    content: "S.S.C +";
  }

  .partners {
    background-color: #fbfbfb;
  }

  .owl-carousel .owl-item img {
    width: auto;
    height: 50px;
  }

  .carousel-indicators {
    bottom: -20px
  }

  .blockquote {
    line-height: 130%;
    margin-top: 0;
  }

  .blockquote p {
    padding: 0 5%;
  }

  .portfolio-bg {
    height: 200px;
  }

  .carousel-item {
    padding: 0% 12%;
  }

  .contact .container {
    margin-top: 30%;
  }

  .contact a, .or {
    font-size: 70%;
  }

  .col-md-3, .col-lg-3, .work-portfolio li {
    width: 50%;
  }

  .social-site .img-responsive {
    width: 40px;
    height: 40px;
  }
}

/* smallar to larger mobile phones screens */
@media only screen and (max-width:480px) {
  .logo {
    height: 60px;
  }

  #section1 {
    padding-top: 45%;
  }

  .sec1img .container-fluid {
    width: 90%;
  }

  .about-section {
    height: 100vh;
    margin-bottom: 10%;
  }

  .about-para {
    font-size: 14px;
    line-height: 1.3;
  }

  .service-para {
    padding: 0;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1;
  }

  h4 {
    font-size: 18px;
  }

  .portfolio-bg {
    height: 150px;
  }

  .portfolio .label-text {
    padding: 20px 0;
  }

  .portfolio .template-btn {
    margin-top: 15px;
    padding: 10px;
  }

  .partners {
    height: 6.2rem;
  }

  #testimonials {
    height: 75vh;
  }

  blockquote {
    line-height: 1.2;
    margin: 0;
    font-size: 14px;
  }

  .carousel-indicators {
    bottom: -2.5rem;
  }

  .text-white {
    margin-top: 15%;
  }
}
